[2017-09-25 15:35] HuddleHouse opened #2 "Min-height can't be set."
Min-height can't be set, so on low resolution screens it don't adjust correctly.

[2017-09-25 15:37] dockleryxk commented on #2
resolved by #1

[2017-09-25 15:37] #2 closed

[2017-12-08 16:51] MohitKS5 opened #3 "documentation"
how to implement in angular 4? what to import in module.ts

[2017-12-08 16:58] #3 closed

[2017-12-08 17:07] dockleryxk commented on #3
Did you figure this out?

[2017-12-09 13:19] MohitKS5 commented on #3
Got what to include in module.ts but still got an error so I had to shift to slick though I liked urs slider more

[2017-12-11 14:29] dockleryxk commented on #3
Ah, I wish I knew what the error was. If you have time please provide that error and I can investigate

[2017-12-11 15:45] dockleryxk commented on #3
by the way, I have updated the documentation in case that helps

[2018-01-04 03:34] devcastrojunin opened #4 "Error import SlideshowModule"
Slide not working in my project :-(

Show this error:
![image](https://user-images.githubusercontent.com/29618716/34549321-f2686bde-f0ee-11e7-8214-efbc97305b84.png)

![image](https://user-images.githubusercontent.com/29618716/34549335-12374f70-f0ef-11e7-9629-aa37869641d7.png)

![image](https://user-images.githubusercontent.com/29618716/34549351-31e37a92-f0ef-11e7-8f11-7931a7fbf57b.png)

[2018-01-04 17:57] dockleryxk commented on #4
What version of angular?

[2018-01-04 18:00] devcastrojunin commented on #4
Angular4

[2018-01-05 14:01] dockleryxk commented on #4
Can you provide a link to your source code or a plunkr to reproduce? Or maybe your package.json? From what you have provided, this error could be caused by anything from duplicate/incorrect importing to something as simple as deleting your node_modules and reinstalling.

[2018-01-09 11:38] techworkrocks commented on #4
Hi!
I got the same problem using Angular5. Beside the console error above posted by devcastrojunin, I get the following warning during compile:

`WARNING in ./node_modules/ng-simple-slideshow/node_modules/@angular/core/@angular/core.es5.js
5659:15-36 Critical dependency: the request of a dependency is an expression
    at ImportLazyContextDependency.getWarnings (C:\xampp\htdocs\workspace\gemgal\no

[2018-01-09 22:47] dockleryxk commented on #4
@techworkrocks I haven't upgraded this package to angular 5 yet. Maybe that would fix both problems. I will try that asap and comment back here when I have done so

[2018-01-10 05:29] dockleryxk commented on #4
The newest version (1.0.4) uses Angular 5. Let me know if this doesn't resolve your issue. Closing for now as the [demo](https://ng-simple-slideshow.firebaseapp.com/) is using Angular 5 and it's working just fine.

[2018-01-10 05:29] #4 closed

[2018-01-10 10:16] techworkrocks commented on #4
Works perfectly!
Thanks for your quick response!

[2018-01-17 16:45] dockleryxk opened #5 "Needs to support Angular 4 and 5 simultaneously"
Currently this is "solved" by having a tag for Angular 4 builds. However, the only difference is that one package has an Angular 4 dependency while the other have an Angular 5 dependency.

I currently am not sure how to solve this, and don't have time to figure it out.

In the meantime if someone could offer some advice on how that would be great!

[2018-01-18 19:13] Warriormuffin opened #6 "Change background-size to contain over cover"
I can't seem to be able to target your slideshow with my own css properties. I would like to change the default background-size from cover to contain.

[2018-01-18 19:31] dockleryxk commented on #6
@Warriormuffin I can add this as an input binding. While I am at it, I am going to add background-position and background-repeat as optional inputs as well. Would any other background properties be useful?

[2018-01-18 19:44] Warriormuffin commented on #6
Thanks a ton for getting back to me. For me, I really only need the contain option but the more options the better!

[2018-01-18 21:01] #5 closed

[2018-01-18 21:02] #6 closed

[2018-01-18 21:08] dockleryxk commented on #6
@Warriormuffin should be good to go now with v1.1.0

[2018-02-07 21:10] esensar opened #8 "Binding imageUrls does not update slideshow properly"
**Example**
If slideshow is added to html as following:
[code]
and imgLinks in model is modified as following
[code]
changes are noticed, but new image is not added to slideshow. If imgLinks are modified as following
[code]
slideshow is properly updated.

**Issue**
After checking code of library, it seems that the way `urlCache` works is the issue. It is set to reference of the array passed to com

[2018-02-08 15:54] dockleryxk commented on #8
@esensar thank you for the detective work here, and good work finding this bug. I will investigate this by the weekend and let you know once I have resolved the issue.

The original idea of this was to avoid an rxjs dependency, but I might bite the bullet and just make a subscription to the array depending on performance. If it all works out, I can remove this function altogether.

[2018-02-09 10:50] AhsanAyaz commented on #8
@dockleryxk I wouldn't suggest including RxJS for the issue at hand. I worked on a simpler and performant solution. Will create the PR now.

[2018-02-14 15:44] dockleryxk commented on #8
I am reopening this because I had to revert the PR that @AhsanAyaz made for now due to an issue with the showDots option

[2018-02-18 20:21] mstrYoda opened #12 "Auto play stops when I click right or left arrow buttons"
I add slideshow component to my component.html file as following:

`
<slideshow [imageUrls]="imageSources" [autoPlay]="true" [height]="800"></slideshow>
`

I start website with:

`ng serve --open`

Issue:

In the first opening of web site the slideshow slides normally, when I click right arrow it slides next image but autoplay stops. I expect it to keep sliding.

[2018-02-19 04:51] dockleryxk commented on #12
you need to use [stopAutoPlayOnSlide]="false"

[2018-02-19 04:51] #12 closed

[2018-02-19 06:03] mstrYoda commented on #12
thank you, I should have looked more carefully to the readme 😀

[2018-02-22 15:45] GusMonkeySoft opened #13 "Async binding throw an error on load"
**Example**
_my.component.html_
[code]

_my.component.ts_
[code]

_slide.api.service.ts_
[code]

**Issue**
[code]
_ng-simple-slideshow.es5.js_
[code]

**Suggested solution**
Add an exit condition to setSlides function if `this.imageUrls` is null.

[2018-03-07 16:45] lazaroreyesjobsity opened #14 "background-image not set if the image path contains space"
If the image path contains space the background-image property is not set, even if you encode the path before initializing the slideshow

[2018-03-13 11:46] maneeshtiwari94 opened #15 "Change the Color of the arrows and the dots"
I can't seem to be able to target the arrows and the dots with my css properties. I would like to change the colors of the arrows and the dots to a different color.

[2018-03-17 18:24] dockleryxk commented on #15
@maneeshtiwari94 thanks for you feedback. I will see what I can do!

[2018-03-17 18:25] dockleryxk commented on #14
@lazaroreyesjobsity thanks for letting me know. I will see if I can work this out. In the meantime, do you have any suggestions for a fix?

[2018-03-17 21:50] #15 closed

[2018-03-17 22:48] #8 closed

[2018-03-17 23:00] dockleryxk commented on #13
forgot to mention in the commit, but closed by 793733b

[2018-03-17 23:00] #13 closed

[2018-03-18 23:44] dockleryxk commented on #14
@lazaroreyesjobsity have you tried escaping? https://stackoverflow.com/questions/2405333/css-background-image-path-issues

[2018-03-21 13:51] dockleryxk commented on #14
@lazaroreyesjobsity could you post the URL of the image that isn't working for you?

[2018-03-26 03:57] dockleryxk commented on #14
I am closing this issue as I cannot recreate it and it's been inactive for over two weeks. If you can recreate it then I will be happy to reopen.

[2018-03-26 03:57] #14 closed

[2018-03-26 04:45] lazaroreyesjobsity commented on #14
@dockleryxk Sorry I've been really busy, here you have an example:
https://gend4.com/api/Containers/images/download/images (1).jpg
If you use this url that contains space, background-image is omitted, just like:
`<div _ngcontent-c24="" class="slides selected slide-in-right" ng-reflect-ng-style="[object Object]" style="background-size: cover; background-position: center center; background-repeat: n

[2018-03-26 13:29] dockleryxk commented on #14
Looks like it was actually the parentheses. This worked for me https://gend4.com/api/Containers/images/download/images%20%281%29.jpg

I would suggest using encodeURI() before inserting them into the component

[2018-03-28 15:22] dockleryxk opened #16 "Spinner shows after first slide on lazy load no matter what"
If lazy loading is enabled, the spinner will show for a split second after the first slide change even if the image is immediately loaded.

I haven't figured out how to prevent this from happening without blocking the page from completing loading first.

[2018-04-01 02:57] lazaroreyesjobsity commented on #14
@dockleryxk Replacing the parentheses solved all my problems :) Thank you!

[2018-04-24 14:51] enginmarshall opened #17 "Property 'goToSlide' does not exist on type 'ElementRef"
I get this error message when using the example from the API section on the NPM page:

ERROR in src/app/decision-ui/decision-ui.component.ts(51,20): error TS2339: Property 'goToSlide' does not exist on type 'ElementRef'.
src/app/decision-ui/decision-ui.component.ts(57,20): error TS2339: Property 'goToSlide' does not exist on type 'ElementRef'.

[2018-04-24 17:24] Christopher-Jakob opened #18 "no docs on how to add captions or change css"
You show how to display captions or not, how to change their colors but you do not show how to add the text of captions or change their location within the slideshow please adjust docs to show thank you.

[2018-04-24 17:31] dockleryxk commented on #17
try changing the the type 'ElementRef' to 'any.' If this is an issue I will change the readme

[2018-04-24 17:36] dockleryxk commented on #18
Currently, there is no way to change the location of the captions. What is the placement you are looking for?
As far as the contents of the captions, you must pass in an array of type [IImage](https://github.com/dockleryxk/ng-simple-slideshow/blob/master/src/app/modules/slideshow/IImage.ts) which is linked from the docs, but it is only implied I suppose. I will make it more clear. Thank you for po

[2018-04-24 21:18] enginmarshall commented on #17
It works when the type is changed to any, Thanks for quick answer. :)

[2018-04-24 21:36] dockleryxk commented on #17
No problem, I have no life :')

I will close this once I update the readme

[2018-04-25 13:34] #17 closed

[2018-04-25 13:34] dockleryxk commented on #18
Whoops, didn't mean to close this!

[2018-04-30 22:37] dockleryxk commented on #18
Okay, I am going to close this due to lack of response. However, feel free to respond still.

[2018-04-30 22:37] #18 closed

[2018-05-01 03:03] winadiw opened #19 "ERROR TypeError: Cannot set property 'selected' of undefined"
`ERROR TypeError: Cannot set property 'selected' of undefined
    at SlideshowComponent.buildSlideArray (ng-simple-slideshow.es5.js:325)
    at SlideshowComponent.setSlides (ng-simple-slideshow.es5.js:280)
    at SlideshowComponent.ngDoCheck (ng-simple-slideshow.es5.js:95)
    at checkAndUpdateDirectiveInline (core.js:12372)
    at checkAndUpdateNodeInline (core.js:13893)
    at checkAndUpdateNode

[2018-05-01 03:13] dockleryxk commented on #19
Can you post how you're using the <slideshow> tag and the ts code pertaining to it? Somehow there are no slides, so the only advice I can give you with what you have supplied is that you need to initialize your array of slides when declaring it.

[2018-05-01 04:24] winadiw commented on #19
So in the `[imageUrls]` array the image url is obtain from API. So i guess the html is rendered first before all the image url is completely get from API. I fix it by initializing `imageUrlArray=['']`, an empty array.
Anyhow, it seems that if not specify the height the slideshow will not show.

[2018-05-01 05:26] #19 closed

[2018-05-01 05:30] dockleryxk commented on #19
try v1.1.9

[2018-05-02 03:31] winadiw commented on #19
i see, thanks for the help @dockleryxk. Nice package btw, i use it because i need carousel/slideshow that support Universal.

[2018-05-03 02:35] kishorys opened #20 "fullscreen slideshow config"
Anyone knows why below example with height 100% don't work? Thanks.
[code]

[2018-05-03 14:18] dockleryxk commented on #20
Try this and see if it helps you https://stackoverflow.com/a/7049918/1743936

[2018-05-13 16:31] dockleryxk opened #21 "Test on Angular 6 and update peer dependencies"
Just leaving this here as a to do and to let anyone wondering know that I will be doing this sooner than later.

[2018-05-14 02:51] #21 closed

[2018-05-16 08:30] winadiw opened #22 "Error in slideshow.component.d.ts"
[code]

[2018-05-16 09:26] winadiw commented on #22
i'm using Angular 5, the error shows up if installing latest (v1.2.0). If downgrade to v1.1.9 no error showing up.

[2018-05-16 13:40] dockleryxk commented on #22
Great find! This is because of the way the TS is compiled. I'll try to figure out why this is happening now.

Original TS:

[code]

Compiled:

[code]

[2018-05-18 03:34] #22 closed

[2018-05-18 03:40] dockleryxk commented on #22
@winadiw should be good to go in v1.2.1

[2018-06-08 19:42] HuddleHouse opened #24 "The text "previous" and "next" are in the slideshow"
![grant_road](https://user-images.githubusercontent.com/9354612/41177531-7866e02c-6b32-11e8-886e-8198442ee909.png)

[2018-06-25 07:10] BrownEli opened #25 "css overrides"
Is there a wat to override width height ans background-size via css?

[2018-06-25 15:32] dockleryxk commented on #25
I'm not entirely sure, but this is what I would try:

[code]

Then, try to change these with css. Let me know if this works!

[2018-06-26 15:52] dockleryxk commented on #25
Another thing about width: I designed the slideshow to fill the width of its container, so you could just set the width of that in CSS.

I am going to close this issue, but still feel free to comment here.

[2018-06-26 15:52] #25 closed

[2018-07-02 14:03] prajaktatkare1234 opened #26 "Is there any property to show more than 1 slide in slide view ?"

[2018-07-02 14:04] dockleryxk commented on #26
No there is not, and currently no plans. If you would like to submit a PR for this I would be happy to look at it.

[2018-07-02 14:04] #26 closed

[2018-07-06 08:30] ben4d85 opened #27 "Images get cut off"
**I am struggling to get this to work responsively on different device sizes!**

I simply cannot get this to work on different device sizes without getting my images *cut off*. All I want it to do is to display the image in 100% width, and calculate the height automatically.

Edit: I finally found a solution using `[backgroundSize]="'contain'"`, but it would be great if this could be added to the

[2018-07-06 09:09] #27 closed

[2018-07-06 14:40] dockleryxk commented on #27
Some info: because you are using Angular bindings, and the backgroundSize property is a string, you must use a string.

When using the brackets ("[]") you are telling Angular that this property is essentially a javascript variable. If you were to take off the brackets, you would not need the quotation marks, because now Angular will assume this property value is a string.

[2018-07-08 16:52] #24 closed

[2018-07-12 10:13] prajaktatkare1234 opened #28 "How can I use along with *ngFor ?"

[2018-07-12 13:19] dockleryxk commented on #28
This isn't an issue, but more of a help question. Even so, this is much to vague for me to have any context of your problem. There is no need for *ngFor with this component.

[2018-07-12 13:19] #28 closed

[2018-07-12 19:39] dockleryxk commented on #24
fixed in v1.2.3

[2018-07-18 01:17] Navya-adft opened #29 "Is it possible to add components instead of images"
I need a slideshow with charts, i create charts by using Ngx library..so is it possible to add component reference as the image URL ? how to use ?Any reference ?

[2018-07-18 03:47] dockleryxk commented on #29
No, it is not possible. This entire component would need to fundamentally change to support this. If this were to ever happen it would not be any time soon.

You could fork this repository and make it happen though!

[2018-07-18 03:47] #29 closed

[2018-07-25 11:37] TeodorKolev opened #30 "Nice doc"
`@ViewChild() slideshow: any;`

nice!

[2018-07-25 13:35] dockleryxk commented on #30
you don't like this???

[2018-07-25 13:41] TeodorKolev commented on #30
I should like something that is not working?

[2018-07-25 15:54] dockleryxk commented on #30
Ah, I took that as sarcasm since there is no typing. I don't exactly know how to make a typing for the component ElementRef, but I think it works just fine like this.

Glad you like it!

[2018-07-25 15:54] #30 closed

[2018-07-25 19:50] TeodorKolev commented on #30
No, it's not.

[2018-07-25 19:52] TeodorKolev commented on #30
Besides that plugin is great. I put a star on it

[2018-07-25 20:36] dockleryxk commented on #30
thanks!

[2018-07-28 18:18] charanjits opened #31 "How to change the styling of elements?"
I'm not able to override the styling of the elements. Say for example I want to remove the black gradient on hover of arrow buttons, I am not able to override that in the component css file.

Any help how to do that?

[2018-07-29 02:54] dockleryxk commented on #31
You can override the styles from your styles.css (or .scss) file in the src folder

[2018-07-29 02:54] #31 closed

[2018-08-03 16:18] eltonec opened #32 "how to get current index of images?"

[2018-08-03 16:35] eltonec opened #33 "when i delete a picture from imageurls array, i get following error:"
ERROR TypeError: Cannot set property 'selected' of undefined
    at SlideshowComponent.buildSlideArray (ng-simple-slideshow.es5.js:336)
    at SlideshowComponent.setSlides (ng-simple-slideshow.es5.js:291)
    at SlideshowComponent.ngDoCheck (ng-simple-slideshow.es5.js:97)

[2018-08-03 16:53] eltonec commented on #33
if images.length > 1 , delete last image then error occurred

[2018-08-03 20:14] dockleryxk commented on #32
Follow [these instructions](https://github.com/dockleryxk/ng-simple-slideshow#api) and then it will be ```this.slideshow.slideIndex```

[2018-08-03 20:14] #32 closed

[2018-08-03 20:15] dockleryxk commented on #33
Could you provide the code or a stackblitz?

[2018-08-03 23:02] dockleryxk commented on #33
Also, you need at least one image in the slideshow for it to function properly

[2018-08-04 03:28] eltonec commented on #33
Thanks for your reply, i do not know how to build  a stackblitz but my code is simple:
html ->
<slideshow #slider *ngIf="images&&images.length>0" [dotColor]="'#e91e63'" [showDots]="true" [showArrows]="false" [imageUrls]="images" [height]="height" [minHeight]="'100px'"></slideshow>

ts ->
delimage() {
  this.images.splice(this.slider.slideIndex, 1);
}

[2018-08-04 14:40] dockleryxk commented on #33
Do you need to remove all of the sides?

[2018-08-12 15:50] fayeeg opened #34 "Customize Caption properties"
1) How to increase font size of Caption?
2) Can we have another text block below the caption with different font & size?

Regards,

[2018-08-12 15:57] fayeeg commented on #34
works the below way,

 caption: `<div class="container"><h1>Apple TV</h1><b><h2>My Subtitle</h2></div>`,

[2018-08-12 15:57] #34 closed

[2018-08-21 00:07] fayeeg opened #35 "Positioning the caption"
Hi,

Could you please advise how do I position the caption in the center of the slide?

regards,
Fayeeg

[2018-08-21 13:17] dockleryxk commented on #35
Using css you can target its class ```.caption```

[2018-08-21 13:17] #35 closed

[2018-08-22 15:59] Wexx opened #36 "Event Handlers Not Binding on autoplay (or at all?)"
I've followed the examples, and I've gotten everything else working, but I'm having issues binding the onSlideLeft/Right etc. events. I've added the viewChild Entry and the # reference to the element on my template, but my onSlideLeft function (Was just logging the event to the console) never gets triggered.

I may just be completely missing something, am still fairly new to the newer versions of

[2018-08-22 21:15] dockleryxk commented on #36
Hi @Wexx could you provide you component and template code? Also, is onSlideRight working for you?

[2018-08-23 14:40] Wexx commented on #36
I made a handler for each event... none appear to be working. I'm starting to think it's something to do with the Observable returned from httpclient (I'll also post the error I'm getting when I go to a new slide)

On load I get:
[code]

When sliding:
[code]

Template code for element:
[code]

Component, LocationInformationService is just a call to a very straightforward httpget endpoint that retu

[2018-08-23 14:49] Wexx commented on #36
Sorry, disregard the previous post. I wasn't parsing the object I was passing into the imageurl attribute before the request was completed. Working fine now, thanks!

[2018-08-23 15:01] #36 closed

[2018-08-23 15:03] Wexx commented on #36
If anyone is confused by this in the future: The Documentation on the Angular site is a bit confusing because they have the template defined in the component file, but you have to add the following to the slideshow element to get the event to register with the handler:
Template:
[code]

and then define the function "onSlideRight" on your component file.

[2018-08-23 17:11] dockleryxk commented on #36
@Wexx glad you figured it out! I have definitely been in that same situation.

[2018-08-25 08:25] ameydeshpande18 opened #37 "how to add local image urls"
I tried to add the local image urls but seems it not working. Is it required to use the hosted image urls and not the images inside the application images folder?

[2018-08-26 13:52] dockleryxk commented on #37
please send an example of the code, it should work just fine with local images

[2018-08-26 16:22] dockleryxk commented on #37
see how [here](https://github.com/dockleryxk/ng-simple-slideshow/blob/master/src/app/app.component.ts#L14)

[2018-08-26 16:22] #37 closed

[2018-09-17 11:30] SachinB123 opened #38 "on initial load of slider if we click on first dot with stopAutoPlayOnSlide set as false, it stops working correctly(note: this happens only when slider just loads and hasn't removed hide-slides class from remaining slides)"
on initial load of slider if we click on first dot after it has moved to second or third dot with stopAutoPlayOnSlide set as false, it stops working correctly(note: this happens only when slider just loads and hasn't removed 'hide-slide' class from remaining slides).

A proposed solution would be to remove 'hide-slide' class and instead just provide those non selected class with 'right-slide' clas

[2018-09-17 13:13] dockleryxk commented on #38
@SachinB123 thank you for finding this! When you say "stops working correctly," do you mean that it stops auto-playing even though it should not?

[2018-09-17 15:16] SachinB123 commented on #38
No, whether it autoplays or not that is not the issue.

This issue can be reproduced on your demo page in following steps:
1. Open your demo page, click second or any dot other than first dot initially.
2.Then click back the first dot, it loads the image which is set on the the last slide of slide array.
3. If autoPlay is on along with stopAutoPlayOnSlide set as false, until the slideshow complete

[2018-09-17 16:47] dockleryxk commented on #38
@SachinB123 thank you for this information. I will likely not have time to look into this until this weekend, but I will let you know once I have it resolved.

[2018-09-21 20:08] torvicv opened #39 "Cannot read property 'classList' of undefined"
It is amazing your plugin.

But I have found when I try use viewchild as you teach, I get this error.

This is my code:

[code]

and component.ts is:

[code]

[2018-09-22 23:59] dockleryxk commented on #39
What are you wanting to do exactly?

Either way, this line is causing the error:
[code]

[2018-09-24 12:33] mostafa-raafat opened #40 "how can i set animation when click on one of the sliders ?"
```{ url: 'assets/images/Fuel_Card_ss.jpg', clickAction: () => this.openFuel() }```

[code]

[2018-09-24 13:11] dockleryxk commented on #40
@mostafa-raafat I am not entirely sure what you mean. When clicking on the above slide, it should call openFuel()

[2018-09-24 18:49] dockleryxk commented on #39
I'm going to close this issue but will still monitor it for replies.

[2018-09-24 18:49] #39 closed

[2018-09-25 22:12] RichardZandi opened #41 "youtube videos"
can ng-simple-slideshow be used to display a carousel of youtube videos? thanks

[2018-09-26 00:58] dockleryxk commented on #41
@RichardZandi unfortunately not, and I have no plans of extending it to do so, but I am open to pull requests :)

[2018-09-26 00:58] #41 closed

[2018-09-30 13:34] mostafa-raafat opened #42 "How can i exit from slider on click event or stop it ?"

[2018-09-30 18:49] dockleryxk commented on #42
Could you provide more detail please?

[2018-10-03 07:28] Mythrim opened #43 "Does this supports videos"
Does this support video?

[2018-10-03 19:53] dockleryxk commented on #43
Unfortunately, this does not support videos and I don't have plans to. I am open to pull requests though!

[2018-10-03 19:53] #43 closed

[2018-10-03 19:53] dockleryxk commented on #42
closing due to inactivity

[2018-10-03 19:53] #42 closed

[2018-10-09 09:12] corsaronero opened #44 "init error loading images use dot"
Hi
the slide work good but when i refresh page click in the first after second slide, in order all work fine, but if  i refresh page and click in the third dot the slide go crazy, also in your example

https://ng-simple-slideshow.firebaseapp.com/

How i fix this bug?

Thanks
Regards

[2018-10-09 15:41] dockleryxk commented on #44
@corsaronero thank you for the report. This bug is a duplicate of #38 which I am currently investigating. I don't have a solution yet though. Please follow that other issue for updates.

[2018-10-09 15:41] #44 closed

[2018-10-22 13:33] dockleryxk opened #45 "Use trackBy Function for Performance"
Add a function to track the slides by URL to increase performance.

[2018-10-22 14:54] dockleryxk commented on #45
also change the syntax of `let i = index` to `index as i`

[2018-10-23 01:57] #45 closed

[2018-10-24 00:46] jaysaikia opened #46 "Extend peer dependencies to Angular 7"
`npm WARN @agm/core@1.0.0-beta.5 requires a peer of @angular/common@^5.0.0 || ^6.0.0 but none is installed. You must install peer dependencies yourself.`
`npm WARN @agm/core@1.0.0-beta.5 requires a peer of @angular/core@^5.0.0 || ^6.0.0 but none is installed. You must install peer dependencies yourself.`

[2018-10-24 01:44] dockleryxk commented on #46
Oh man, it's already time for the next version! If you notice any issues, let me know. I'll get this updated.

[2018-10-24 02:49] dockleryxk commented on #46
@jaysaikia wait....I do need to do this but I think you have the wrong repo

[2018-10-24 02:55] jaysaikia commented on #46
@dockleryxk nope ... I think this is the right one. I will check anyway.

[2018-10-24 03:28] jaysaikia commented on #46
I pasted the wrong warn message. Lol.
I was about to put the request at agm too.

On Wed, 24 Oct. 2018, 2:27 pm Richard Jeffords, <notifications@github.com>
wrote:

[2018-10-24 15:22] #46 closed

[2018-11-20 01:59] ItamarSerafim opened #48 "Pause button for the slideshow"
I couldn't find a way to pause the slideshow. Is this feature missing?

[2018-11-20 14:23] dockleryxk commented on #48
@ItamarSerafim do you mean a play/pause button, or just to pause at any point?

[2018-11-22 02:05] ItamarSerafim commented on #48
Yes, that's it: Play/Pause button, sou that I could paused the slideshow at any slide.
I notice that when I click previous button, the slider seems to pause the slideshow, but it seems not to be intuitive for the user.

[2018-11-23 21:44] dockleryxk commented on #48
The behavior you have reference is due to the `stopAutoPlayOnSlide` option.

While I don't currently plan on the feature, I will leave this open. I might add one in the future. I am also open to PRs.

[2018-12-19 19:43] ChocolateAceCream commented on #35
Hi. I'm trying to locate caption in the center but not able to do so using css class .caption to target it. Could you give me some suggestions please?

[2018-12-19 19:49] ChocolateAceCream commented on #35
actually I'm not able to target with .caption, I have to hard-code the slideshow element like this:

style="text-align: center"

[2019-01-10 13:38] madhuri03 commented on #17
please use  @ViewChild('slideshow') slideshow: any;
this works me fine

[2019-01-10 13:42] akashdell commented on #17
This line works for me
 @ViewChild('slideshow') slideshow: any;

[2019-01-15 22:29] dockleryxk opened #49 "Autoplay blocks app from becoming stable"
The intervals should be handled outside of the angular zone to allow the app change detection to become stable.

[2019-01-15 22:42] #49 closed

[2019-01-17 15:23] steolits opened #50 "multiple autoPlayInterval values"
Hi, is it possible to assign a different auto play intervals?
For instance:
img1 --> 3000
img2 --> 5000
img3 --> 5000
img4 --> 10000

thanks for your support!

[2019-01-17 15:56] dockleryxk commented on #50
Currently, it is not possible, but I will look into adding this. Could be a good feature.

[2019-01-18 10:48] steolits commented on #50
Thank you!

[2019-01-18 10:51] steolits opened #51 "refresh images"
Hi, is it possible to reload the images every time the carousel starts up again?
Thank you!

[2019-01-18 15:32] dockleryxk commented on #51
Hmm it should be detecting the changes and showing the new images. Is the source for the image the same?
Also, thanks for the debugging!! I will try to get to the bottom of why that error is happening and likely implement that code.

[2019-01-18 15:40] steolits commented on #51
Yes, the source is the same. I have a windows service that every time t overwrite the images with the newest versions.

[2019-01-23 13:33] Palum12 opened #52 "Zoom images"
Hi, is it possible to allow user to zoom images shown with this component ?

[2019-01-23 14:27] dockleryxk commented on #52
Do you mean like a fullscreen type of functionality?

[2019-01-23 14:38] Palum12 commented on #52
No, more like Google Maps zoom. When using "contain" size option the full picture is shown to user. But user might want to use something like "+" button to zoom in / focus on details of picture.

[2019-01-23 14:45] dockleryxk commented on #52
There isn't a way currently, but I'd be open to PRs. I'll leave this open for a while in case anyone else wants to chime in.

[2019-01-24 12:26] myv1nyl opened #53 "href target set to _blank"
Is it possible to tell the slideshow to open links in a new tab?

[2019-01-24 14:09] dockleryxk commented on #53
Not currently but this will be simple to implement

[2019-01-28 17:10] SubashKrishnan commented on #27
How can I implement, Image width should be 100% and height should be 300px...
If use backgroundSize : 'contain' the image is not cutoff...but width is cutoff...

[2019-01-30 05:01] jaysaikia opened #55 "New output events: Current slide index change event"
It would be great to have a slide index change event. This could also be used to check initialisation from no image to some images being shown.

The slideLeft and slideRight does not fire when image is newly added to an empty array.

[2019-01-30 05:03] jaysaikia commented on #52
Fullscreen would be a nice feature to have as well, Instead of loading a new slideshow in fullscreen.

[2019-01-30 18:40] dockleryxk commented on #55
@jaysaikia  Good find! I will investigate this issue and add the event!

If you could provide a reproduction or explanation with code of the issue that would help me out.

[2019-01-31 00:37] jaysaikia commented on #55
Whipped up a quick StackBlitz. Should be self explanatory. Let me know. Hope this helps.
https://stackblitz.com/edit/angular-sbu3ty

[2019-01-31 05:57] jaysaikia commented on #55
Will it be better to have just a onload event emitter, which gets fired when the first image is loaded. Dev can get the slideIndex after that event.

And then any subsequent additions of image fires a indexChange event.

[2019-02-01 02:46] cktg opened #57 "Cannot read property 'loaded' of undefined"
I managed to install and run your code successfully in the browser using an array of strings for imageUrls. However am getting Type Error in the console:

`Uncaught TypeError: Cannot read property 'loaded' of undefined
    at ng-simple-slideshow.es5.js:437
    at ZoneDelegate.push../node_modules/zone.js/dist/zone.js.ZoneDelegate.invokeTask (zone.js:423)
    at Zone.push../node_modules/zone.js/dist

[2019-02-01 14:05] dockleryxk commented on #57
@cktg do you mind sending the code snippet of your imageUrlArray?

[2019-02-02 19:17] dockleryxk commented on #57
Glad you figured it out!

[2019-02-03 14:45] TSGames commented on #55
May the current index can simply be set using a two-way variable binding?

[2019-02-06 09:17] darssen commented on #48
Hi, I am using the slideshow and also found that it would be useful to have that feature. Pausing is easy since you can set to false the autoPlay option. But enabling it later does not seem to have the expected result.
Not sure if PR will be difficult due to my angular "expertise", but want to give it a try if you can share some guidelines.

[2019-02-06 10:35] darssen commented on #48
Well looks like I might have found it.

In the **handleAutoPlay** method when you **clearInterval** the interval is cleared, but the value of **this._autoplayIntervalId** never gets removed. Thus even if you set Autoplay again, the interval never gets reset.
Adding a `this._autoplayIntervalId = null;` after clearing the interval seems to do the trick.
Testing in the demo application, clicking and

[2019-02-06 13:58] dockleryxk commented on #48
I'll be reviewing this tonight!

[2019-02-07 05:45] #48 closed

[2019-02-11 03:46] gzoppo opened #59 "the images come between each other"
I start the component in image 0 and I have four images in the slide when I use the goToSlide (i) method, where i is equal to for example 3, image 2 and image 3 are shown at the same time.

The 2 is shown automatically, and the third enters with the effect of the slide.

[2019-02-12 04:05] KRYNE commented on #59
In case if this isn't a error, i need to know the correct way to use the slideshow.

Thanks

[2019-02-12 13:28] dockleryxk commented on #59
This seems related to #38. I'm still working on a fix for this.

[2019-02-13 05:03] KRYNE commented on #59
Yes, it is the same problem. Excuse me, I read it before publishing but I had not understood that it was the same.

I see that problem comes from quite some time ago. Do not really look at your code 100%, but look at why I'm interested in solving this problem and if I can help you better.

At first glance, in the first three lines of the goToSlide() I see that there is a double assignment to slide

[2019-02-13 15:17] dockleryxk commented on #59
@KRYNE no problem, I am always happy to discuss.

Basically, classes are assigned to create sliding animations. The logic goes like this -- goToSlide() is called, so go to the slide right before the slide that is desired (`this.slideIndex = index - 1`), then increment to the desired slide so the animation is triggered.

Perhaps there is a better way or I need more checks to make sure things happen

[2019-02-14 00:44] KRYNE commented on #59
Exactly, as I understood it and clearly the problem is that.

In my opinion it is wrong to assign the previous slide to the one that you want to see without performing the slide effect.

As a quick solution I think I should go through all the intermediate slides before I get to the desired one.

[2019-02-19 02:23] jaysaikia commented on #52
Is anyone taking this up ?
@dockleryxk "hammerjs" ?

[2019-02-19 14:44] dockleryxk commented on #52
@jaysaikia I don't like the idea of relying on hammer, I was thinking about implementing something similar to [this](https://www.w3schools.com/howto/howto_js_image_zoom.asp), except the image will just zoom, not zoom in another box.

[2019-02-27 09:07] sergiusxp opened #61 "Page reloads if the images are still loading"
Hi. I have this problem. If the images in the carousel are not loaded yet and I click on the spinning loading gif the page reloads.
I think the problem is in this line
`else if (currentSlide && !isNullOrUndefined(currentSlide.image.href)) {
            this.document.location.href = currentSlide.image.href;
        }`

because the component doesn't check if currentSlide.image.href is empty.

Thanks

[2019-02-27 16:32] dockleryxk commented on #61
Great find! I have a fix for this in mind. I will look at this by the end of the week.

[2019-03-26 03:55] jaysaikia commented on #55
Closing issue, Stackblitz updated and is working as expected ...

[2019-03-26 03:55] #55 closed

[2019-03-28 13:17] dockleryxk commented on #59
@gzoppo I just saw this but that is a good idea, I will try this!

[2019-03-28 14:00] Vatsal-Innovatemr opened #62 "Show remaining number on next previous buttons"
Is it possible to show the number on the next previous button on the slideshow?
as attached
![screenshot-localhost-4200-2019 03 28-19-26-11](https://user-images.githubusercontent.com/39255553/55163466-dce9e500-518f-11e9-862b-06b2856f9c84.png)

[2019-03-28 14:09] dockleryxk commented on #62
No, this isn't a current feature but I am open to PRs!

[2019-03-28 14:09] #62 closed

[2019-03-28 14:16] Vatsal-Innovatemr commented on #62
Thanks for the quick response.

[2019-03-28 14:16] dockleryxk commented on #59
I'm going to close this though since it is a duplicate of #38

[2019-03-28 14:16] #59 closed

[2019-03-29 11:31] mitevdev opened #63 "Spinning loading gif as option"
It would be nice to have the spinning loading gif as option. Currently it gets displayed offside so the half of it is outside the component area.

[2019-03-29 13:28] dockleryxk commented on #63
@mitevdev could you provide further detail about "Currently it gets displayed offside so the half of it is outside the component area?"

To address your request, would an option to supply your own animation class suffice?

[2019-04-02 11:08] nviethuan opened #64 "How can I using the video for slideshow?"
I want to using video for slideshow with this package, you can support me for update next version?

[2019-04-02 14:24] dockleryxk commented on #64
I have no plans to support video but I am open to PRs

[2019-04-02 14:24] #64 closed

[2019-04-11 10:59] Vatsal-Innovatemr commented on #19
@dockleryxk: I am still seeing this error "**ERROR TypeError: Cannot set property 'selected' of undefined**"

[2019-04-11 13:27] dockleryxk commented on #19
@Vatsal-Innovatemr what version?

[2019-04-11 13:56] Vatsal-Innovatemr commented on #19
I am using version 1.2.8 as I update the version it works fine.
Thanks for your response.

[2019-04-12 11:17] YoniTlz opened #65 "Slideshow not showing on route change"
Hi,

The slideshow works perfectly fine when accessing my homepage.

However if you try to access a specific page via URL on your FIRST ACCESS, and then going to the homepage, the slideshow doesn't show.

You can reproduce this when clearing your chache and accessing a component page via URL.
Going back to the homepage produces the exposed effects.

Any lead?

I will soon provide a URL for people

[2019-04-12 14:55] dockleryxk commented on #65
@YoniTlz I have never experienced anything remotely similar to this. I also am not sure what the cache has to do with anything. It must be how you are implementing. I will be looking out for that URL

[2019-04-12 14:56] dockleryxk commented on #63
Closing this due to inactivity. I am still open to PRs

[2019-04-12 14:56] #63 closed

[2019-04-16 10:41] YoniTlz commented on #65
It's almost like the component isn't loaded if i'm not accessing my homepage first. I'll provide the URL when the app is up. Thanks.

[2019-04-16 13:40] dockleryxk commented on #65
For now, I will close this, but will still be looking out for the URL. To me it sounds like you are only loading the necessary data when entering from the home page, and not otherwise.

If it does happen to be on my end, I will reopen and investigate.

[2019-04-16 13:40] #65 closed

[2019-04-17 11:24] myv1nyl commented on #53
I've been meaning to post this.

While this may not be the best solution, clickAction: () => window.open(href) works to get a new tab from clicking the slide. Feels a bit hacky, considering the element is an <a>, but it gets the job done.

[2019-04-24 13:29] ksangular commented on #4
Uncaught TypeError: Cannot read property 'loaded' of undefined
    at ng-simple-slideshow.es5.js:445
    at ZoneDelegate.push../node_modules/zone.js/dist/zone.js.ZoneDelegate.invokeTask (zone.js:423)
    at Zone.push../node_modules/zone.js/dist/zone.js.Zone.runTask (zone.js:195)
    at push../node_modules/zone.js/dist/zone.js.ZoneTask.invokeTask (zone.js:498)
    at ZoneTask.invoke (zone.js:487)

[2019-04-24 18:07] dockleryxk commented on #4
@ksangular  It looks like you are passing in an undefined slide array

[2019-04-25 05:22] ksangular commented on #4
@dockleryxk  yes, my bad. Its working fine now. Thank you so much.

[2019-05-01 17:19] YoniTlz opened #66 "Slideshow not showing on route change #2"
Hi,

here's the URL to the site i've been working on:
http://belmaquillagepermanent.fr

When accessing from this URL, the slideshow on the homepage works fine.
However if you FIRST access it from another page such as: http://belmaquillagepermanent.fr/yeux
and navigate back to the homepage the through the "Accueil" link in the navbar, the slideshow will not be displayed.

Do you have any idea how t

[2019-05-01 22:51] dockleryxk commented on #66
Could you give me some more detail on how and when you are creating the imageUrls array?

On a side note, the site is super fast and I love the slideshow implementation!

[2019-05-02 07:28] YoniTlz commented on #66
So,

In my homepage component i initialize an image array:
HomeComponent:
`export class HomeComponent implements OnInit {
  @ViewChild('slideshow') slideshow: any;
  imagesPc: (string | any)[] = [
    {
      url: 'assets/images/desktop/banners/bel_banner.jpeg',
      caption: 'caption'
    },
.
.
.`

and directlty reference it in my template.

However for mobile comptatibility purposes, i had to

[2019-05-02 14:10] dockleryxk commented on #66
Could you send the styles too? I think I could help you only need one slideshow. Also, try setting the array in ngOnInit, and originally initialize it to ```[]```

[2019-05-02 14:13] dockleryxk commented on #66
also, add the class d-block to the second slideshow and make sure to give them either a height or a minHeight

[2019-05-02 14:15] YoniTlz commented on #66
Here's the CSS i use:

`// Diapo général
/deep/ .slides {
  height: 100%;
  .caption {
    width: 40% !important;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent !important;
    text-align: center;
    .logo {
      height: 50%;
      img {
        height: 100%;
        width: auto;
      }
    }
  }
}

// 1

[2019-05-02 14:44] YoniTlz commented on #66
I tried adding the class and initialize the arrays in my ngOnInit but it doesn't seem to fix the issue.
Also i noticed that on mobile, if i try to recreate the behavior i 've described, the slideshow actually appears but the styles for the captions aren't applied.

The module seems to not be loaded properly if the homepage isn't accessed first.

[2019-05-02 17:11] dockleryxk commented on #66
1. You should remove the `[_ngcontent-c2]` from your styles. Angular adds this automatically when generating.
2. height and minHeight are inputs to the slideshow. Have you tried using these?

[2019-05-03 04:55] jaysaikia commented on #52
@dockleryxk I have some time to work on this. If hammerjs is out, would you rather do a custom event capture to detect pinch in/out ? [link](https://github.com/mdn/dom-examples/blob/master/pointerevents/Pinch_zoom_gestures.html)

[2019-05-03 13:08] YoniTlz commented on #66
As simple as that!

I actually had a height attribute set for the mobile slideshow, that's why it showed and not the other one.
Removing `[_ngcontent-c2]` fixed my CSS.

It works great now thanks for your help.

[2019-05-03 13:08] #66 closed

[2019-05-03 13:38] dockleryxk commented on #52
@jaysaikia assuming that code works, I am open to that! If you make it work client side, I will angular-ize it and make it work for server-side! Unless you want to do that too.

A note on hammer:

1. I have no inherent issue with hammer, but I like the fact that this package is lightweight, and I would like to keep it as lightweight as possible!
2. Hammerjs is tricky to get working with server-sid

[2019-05-03 13:45] dockleryxk commented on #66
@YoniTlz one last thing: make sure you get either server-side rendering or prerendering at some point. That will maximize the SEO for this website.

Good luck!

[2019-05-03 13:47] dockleryxk commented on #51
try adding a random query parameter at the end of the slide urls for this behavior. Ultimately, this is outside the scope of this package.

[2019-05-03 13:47] #51 closed

[2019-05-03 13:48] dockleryxk commented on #50
I don't think this makes sense for this package to have this. However, you could manually trigger this if needed with your own timers.

[2019-05-03 13:48] #50 closed

[2019-05-03 13:52] YoniTlz commented on #66
I've started to look into it but it's not easy to setup , i'll probably implement it later.
Thanks again.

[2019-05-05 17:52] YoniTlz opened #67 "Resize slideshow using CSS"
Hi,

What's the best way to resize the slideshow using css?
I've tried to wrap it in a div and sizing the div using css without giving any height to the slideshow.
This results in an exmpty div, nothing is rendered.

I would like to be able to resize it following the device screen size, orientation etc...
What's your advice?

[2019-05-05 18:53] #67 closed

[2019-05-06 04:04] jaysaikia commented on #52
@dockleryxk
https://github.com/jaysaikia/ng-simple-slideshow/commit/3189c794ca01fd1372cd5a6509c0345ea6a65208#commitcomment-33419991

[2019-05-06 13:33] dockleryxk commented on #67
Do you care to share your solution, assuming you have one since you closed this issues

[2019-05-06 14:47] YoniTlz commented on #67
Sure,

So basically here's what i've done:
1- wrap the slideshow. Add a custom class to identify it (here "mySlideshow")
HTML
`<div class="wrapper">
  <slideshow
    class="mySlideshow d-block"
    [autoPlay]="true"
    [autoPlayInterval]="5000"
    [showArrows]="true"
    [imageUrls]="images"
    [lazyLoad]="false"
    [autoPlayWaitForLazyLoad]="true"
    [stopAutoPlayOnSlide]="true"
    [arrowSi

[2019-05-06 14:51] dockleryxk commented on #67
Nice, thanks!

[2019-06-06 14:55] bkimminich opened #70 "Uncaught TypeError when testing component depending on SlideshowModule"
I am having a test spec for a component that has a `<slideshow>` on it. I naively tried to do just import `SlideshowModule` in my spec, but it runs into

[code]

The test looks like this:

[code]

I tried to mock the `SlideshowComponent`, but I couldn't import that component and Angular complained with
[code]

Can you provide me with any example where your module is either successfully imported or

[2019-06-06 15:32] dockleryxk commented on #70
Currently, the package format used is Angular Package Format v4.

Per the [changelog](https://github.com/dockleryxk/ng-simple-slideshow/blob/master/CHANGELOG.md), I have plans to update the format to current standards.

As far as tests or mocks, this has not been done to my knowledge.

Finally, regarding the error `Cannot read property 'loaded' of undefined thrown`, I have a fix I am working on fo

[2019-06-07 16:46] alex-osman commented on #38
This could use a fix

[2019-06-11 13:05] centigrade-thomas-becker opened #71 "Cumbersone TypeScript export/import. What is ɵa & ɵb?"
The exports in `ng-simple-slideshow.d.ts` are as following:

[code]

So if you want to use typings for ng-simple-slideshow you have to import the component with `import { ɵa as SlideshowComponent } from 'ng-simple-slideshow';`

What is ɵa, ɵb, and how are they used? Why is the component and the service not exported directly, e.g.

[code]

[2019-06-11 13:17] dockleryxk commented on #71
Must be some weird ng-packagr config that I was unaware of. I will have to look into this. I never intended for the SwipeService to be used outside of the Component though.

[2019-06-12 02:32] dockleryxk commented on #52
This is available in 1.3.0-beta.0, thanks @jaysaikia !!!

[2019-06-13 02:31] dockleryxk commented on #61
This should be fixed in v1.3.0-beta.0

[2019-06-13 02:31] #61 closed

[2019-06-13 02:31] dockleryxk commented on #53
This should be fixed in v1.3.0-beta.0

[2019-06-13 02:31] #53 closed

[2019-06-13 17:07] malemanw opened #72 "problems when debug"
I have executed the npm i -S ng-simple-slideshow and I have added it to app.module.ts but when in my HTML I place <slideshow [imageUrls] = "imageUrlArray"> </ slideshow> does not execute the images

[2019-06-13 17:15] dockleryxk commented on #72
what is your imageUrlArray variable?

[2019-06-13 17:32] malemanw commented on #72
I will try to explain .. when I made the npm I did not install the modules / IImage interface, but import it in import {IImage} from 'node_modules / ng-simple-slideshow / src / app / modules / slideshow / IImage'; and when I call the interface with imageUrls: (string | IImage) [] = [
    {url: 'https://cdn.vox-cdn.com/uploads/chorus_image/image/56748793/dbohn_170625_1801_0018.0.0.jpg', caption: 'T

[2019-06-14 08:08] CherniyIrtish opened #73 "module doesn't handle space in ulr."
How to display image which has space into url?
For instance:
https://storage.googleapis.com/your-folder/1/sub-folder/images (1).png
I tried to exchange space to %20, but it haven't helped.

[2019-06-14 15:06] malemanw commented on #72
I'm not at sea because I'm using angular 8.0.3 and it's not yet compatible

[2019-06-14 16:44] dockleryxk commented on #72
try using 1.3.0-beta.1

[2019-06-14 16:44] #72 closed

[2019-06-14 16:44] dockleryxk commented on #73
It's the parenthesis that is messing it up. Unfortunately that is outside of the scope of this project.

[2019-06-14 16:44] #73 closed

[2019-07-05 17:33] kerbrose opened #74 "Access slideshow template or nativeElement?"
Hello There
First thanks for such cool component. I would like to access the rendered html of the slideshow and I couldn't. I tried to use
`
@ViewChild('slideshow') slideshow : any;
this.slideshow.nativeElement;
`
However I get undefined

[2019-07-05 19:57] dockleryxk commented on #74
slideshow doesn't have a nativeElement on its type. For this you would need to inject the document and use `this.document.getElementsByClassName('slideshow-container')[0]` to access.

[2019-07-05 19:57] #74 closed

[2019-07-07 10:19] kerbrose commented on #74
thank you alot. Also I figured out that I could get from
`
this.slideshow.container.nativeElement;
`

[2019-07-08 02:08] dockleryxk commented on #74
Nice! I didn't even think of that

[2019-07-12 21:17] rodrigowbazevedo opened #75 "Angular 8 - No provider for Renderer2"
I'm having the following error using with Angular 8

ERROR NullInjectorError: StaticInjectorError(AppModule)[NgStyle -> Renderer2]:
    StaticInjectorError(Platform: core)[NgStyle -> Renderer2]:
    NullInjectorError: No provider for Renderer2!

No ideia why...

[2019-07-12 21:52] #75 closed

[2019-08-13 04:34] highfaii1050 opened #76 "Custom animation"
Hi, can I customise the auto play animation / transition instead of just sliding in ? How can I do it ?

[2019-08-13 14:52] dockleryxk commented on #76
@highfaii1050 you could try overwriting the css used, otherwise I am not sure. I don't plan on adding this functionality, but I am open to PRs.

[2019-08-13 14:52] #76 closed

[2019-08-21 18:34] MortenKJ commented on #71
Agree, it would be nice to be able to import SlideshowComponent, without having to import as

[2019-08-26 19:35] Adambs opened #77 "Block loop"
Hi,
Please add an option to block looping from last to first and first to last.
I'm using the component for onboarding and it is a must-have.
Please help ASAP

[2019-08-26 22:30] Adambs commented on #77
no matter what. I don't use the autoplay

[2019-09-05 15:21] mrdimaan opened #78 "Images are not lazy-loading correctly"
The lazy load option is true. But the slider just lazy loads the first one and loads the other images at once! So it makes loading images so slow and there is just white screen for some seconds.

[2019-09-06 07:08] jonsamwell opened #79 "Autoplay does not work if host component change detection is onPush"
Hi,

Thanks for the control.

I have found it does not work if the host control has the change detection of onPush

[code]

[code]

[2019-09-10 16:08] dockleryxk commented on #79
@jonsamwell good find. As a workaround for now, you can make a function (called detect() for example) that calls detectChanges() on the ChangeDetectorRef and call it for these outputs:
[code]

[2019-09-10 16:09] dockleryxk commented on #78
@mrdimaan are you using server-side rendering?

[2019-09-10 22:41] jonsamwell commented on #79
@dockleryxk thanks for the work around.

[2019-09-20 19:57] #77 closed

[2019-09-20 19:58] #78 closed

[2019-09-20 19:59] dockleryxk commented on #79
This will be handled in v1.3.0-beta.2

[2019-09-20 19:59] dockleryxk commented on #16
this seems to have stopped happening

[2019-09-20 19:59] #16 closed

[2019-09-20 20:21] dockleryxk commented on #52
I am going to close this since it has been available

[2019-09-20 20:21] #52 closed

[2019-09-27 18:52] AllTerrainDeveloper opened #84 "Request"
Would be possible to add to the IImage, duration for each image?

In this way, if the duration is set, we override the "default" value? I think it's nice feature!

We could have a playlist with images showing each 3 seconds, then 6 (because it has text? or any other reason), then 3, etc...

Cheers

[2019-09-27 19:08] dockleryxk commented on #84
@AllTerrainDeveloper I will look into this, but no guarantees if there is not a straightforward way to accomplish. I am open to PRs though :)

[2019-10-03 01:43] vignesh007vicky opened #85 "backdrop"
how to add backdrop color in this plugin

[2019-10-04 08:23] suriyaJaay opened #86 "Static image"
Hi,
Could you pls tell me how to add static image?

i'm trying to add only two images with dots, can you pls tell me how to do that?

thank you

[2019-10-04 08:23] #86 closed

[2019-10-04 08:24] suriyaJaay commented on #86
My mistake. i supposed to check it properly.. now fine with existing code. Thanks mate

[2019-10-05 22:54] dockleryxk commented on #86
No worries, thanks for reporting back!

[2019-10-06 18:11] MarcARoberge opened #87 "Adding URL dynamically reset the index at 0"
I am pushing new photos urls inside my array but it keeps resetting the slideshow to the index 0.
[code]

Ps: Sorry for formatting my issue wrongly. I am not used to publish on GitHub

[2019-10-07 13:12] dockleryxk commented on #87
@MarcARoberge try this instead

[code]

[2019-10-11 19:12] dockleryxk commented on #87
@MarcARoberge did this work for you? Going to close this unless I hear back

[2019-10-11 19:13] dockleryxk commented on #85
This isn't currently supported but you could always use css or make a PR

[2019-10-11 19:13] #85 closed

[2019-10-18 01:47] MarcARoberge commented on #87
Sorry never got the email of you answering! I am going to check thank you !

[2019-10-18 01:57] MarcARoberge commented on #87
@dockleryxk So since I am using base64 encode picture (I am retrieving files from my computer) copying the object  is taking way too long. I am going to create a PR. I fixed it by modifying the module a little bit to not reset to index when when the array is filling.

[2019-10-18 12:57] dockleryxk commented on #87
@MarcARoberge as long as it still works correctly, I am all for it!

[2019-10-18 14:05] dcanning opened #88 "Test and extend peer dependency to Angular 8"
```npm WARN ng-simple-slideshow@1.2.9 requires a peer of @angular/core@^4.0.0 || ^5.0.0 || ^6.0.0 || ^7.0.0 but none is installed. You must install peer dependencies yourself.```

[2019-10-18 15:02] dockleryxk commented on #88
This is currently available in the beta. Install that (1.3.0-beta.2) and you should be good. If you have any problems feel free to open another issue! I personally am using the beta in a prod environment so it should be fine!

[2019-10-18 15:02] #88 closed

[2019-10-20 22:12] MarcARoberge commented on #87
#89 :)

[2019-10-27 13:28] metalllus opened #90 "add eventemitter onImageClicked"
Hi, would it be possible to add a new event emitter that would emit clicked image index in the source array upon image click?

I know you have the clickAction property but I wasn't able to figure out how to use it to listen to image clicks and send the clicked image index to the angular component where the slideshow is actually used.

[2019-10-28 17:48] dockleryxk commented on #90
@metalllus I can add this. For now you could listen for clicks on the slideshow element and then check the index when this happens.

[2019-10-29 17:42] metalllus commented on #90
The important thing for me is to emit the event only when the center part of the image is clicked and not when the arrow parts are clicked on the sides if that would be possible.

[2019-10-29 18:23] dockleryxk commented on #90
@metalllus yeah, that's exactly what I was thinking! My suggestion was just a workaround

[2019-11-01 01:18] dockleryxk commented on #87
Available on 1.3.0-beta.3

[2019-11-01 01:18] #87 closed

[2019-11-01 01:39] dockleryxk commented on #90
available in 1.3.0-beta.4

[2019-11-01 07:27] metalllus commented on #90
If this is the onClick event, the event gets fired but it refreshes my browser window for some reason.

[2019-11-01 07:39] metalllus commented on #90
if I use the 1.3.0-beta.4 version and click the image I get the browser window refresh every time even if I do not use the new onClick event at all.

[2019-11-01 13:10] dockleryxk commented on #90
@metalllus do your images have click actions? It works fine on the demo (open the console and click on the slideshow) https://ng-simple-slideshow.firebaseapp.com/

[2019-11-01 15:19] metalllus commented on #90
I do not know what the problem is, I created a very simple slideshow for testing, only two inputs used, [imageUrls] pointing to a list with two strings with imageUrls and [minHeight] input set to 440px. Still, on image click I get browser refresh. If I click the arrows, everything works fine, next image gets displayed. But if I click the center portion of the image, I get browser refresh.

[2019-11-01 16:14] dockleryxk commented on #90
Can you make a reproduction on StackBlitz or something? I tried but can't recreate your isse

[2019-11-01 16:40] metalllus commented on #90
Damn, that's a shame. I will dig deeper when I have time. Thx for the effort anyway.

[2019-11-01 18:47] dockleryxk commented on #90
@metalllus if you want, just paste your component.ts file, maybe I'll see something obvious

[2019-11-01 18:59] metalllus commented on #90
In the template I have only this:
`<slideshow
  [imageUrls]="imageUrls"
  [minHeight]="'440px'"

</slideshow>`

In the component:

`@Component({
  selector: 'app-welcome',
  templateUrl: './welcome.component.html',
  styleUrls: ['./welcome.component.css'],

})
export class WelcomeComponent implements OnInit {
  imageUrls = [
    'https://storage.googleapis.com/pezinsky-baby-sekac.appspot.com/thumb

[2019-11-01 19:18] metalllus commented on #90
I sent you an email with a screenshot, please have a look.

[2019-11-03 21:46] dockleryxk commented on #90
@metalllus this is fixed in beta 7. I prevent the click default

[2019-11-03 22:46] metalllus commented on #90
Works flawlessly now. Thx for hanging in there :)

S pozdravom / Best Regards,
Ľuboš Valkovič
Freelance Translator and Linguist
Ing. Ľuboš Valkovič
Kalinčiakova 1730/2
953 01 Zlaté Moravce
IČO: 43960707  
DIČ: 1078781374
Blog:        www.blogick.sk [http://www.blogick.sk/]
Tel. :       +421 905 870 436
e-mail:   lubos.valkovic@gmail.com [mailto:lubos.valkovic@gmail.com]
On 3. 11. 2019 22:46:51, Ri

[2019-11-07 16:18] ray-kay opened #91 "Show multiple images"
Is it possible to show multiple images at a time?

[2019-11-07 23:42] dockleryxk commented on #91
No it isn't, but I am open to PRs

[2019-11-07 23:42] #91 closed

[2019-11-19 00:08] metalllus commented on #90
Hi, today I ran into another problem with the onClick event. If I have multiple slideshows on page and I click on an image on any of them, every slideshow on page triggers the onClick event. Could this be fixed somehow?

S pozdravom / Best Regards,
Ľuboš Valkovič
Freelance Translator and Linguist
Ing. Ľuboš Valkovič
Kalinčiakova 1730/2
953 01 Zlaté Moravce
IČO: 43960707  
DIČ: 1078781374
Tel. :   

[2019-11-19 13:51] dockleryxk commented on #90
@metalllus interesting. It sounds like they are sharing the same service. I'll have to look into it

[2019-11-21 10:33] metalllus commented on #90
Is this a deeper problem, will it take longer to fix?

S pozdravom / Best Regards,
Ľuboš Valkovič
Freelance Translator and Linguist
Ing. Ľuboš Valkovič
Kalinčiakova 1730/2
953 01 Zlaté Moravce
IČO: 43960707  
DIČ: 1078781374
Tel. :       +421 905 870 436
E-mail:   lubos.valkovic@gmail.com [mailto:lubos.valkovic@gmail.com]
On 19. 11. 2019 14:51:34, Richard Jeffords <notifications@github.com> wrote:

[2019-11-22 19:40] kavr123 opened #92 "Request"
Hi,

Is it possible to have two images per slide?

Thank you.

[2019-11-25 12:12] dockleryxk commented on #92
No, but I am open to PRs

[2019-11-25 12:12] #92 closed

[2019-11-26 08:05] Was85 opened #93 "How to show text instead of image in ng-simple-slideshow angular6 project?"
I wanna know if its possible to show or iterate over array of string insteads of images or urls ,said so having a list of latest releases and want to make it as slide show (Displaying a pure text  as strings)?

[2019-11-27 17:24] dockleryxk commented on #93
This slideshow is specifically for images

[2019-11-27 17:24] #93 closed

[2019-11-27 17:26] dockleryxk opened #94 "Make translate3d Work on Safari/iOS"
Using `translate3d` instead of `left` is more performant, but bugs out on iOS and Safari due to how they handle overlapping elements with translate3d and matching z-index/z value from translate3d. See #83 for details.

[2019-12-03 21:07] chinna-dev opened #95 "Is this only for image slides or it supports video slides also?"

[2019-12-03 21:31] dockleryxk commented on #95
Images only, but I am open to PRs

[2019-12-03 21:31] #95 closed

[2019-12-15 16:23] metalllus commented on #90
hi, did you make any progress on fixing the issue I reported? Unfortunately, I came across another bug caused by the very same thing. If I create three slideshows on one page and I swipe left or right to get to the next image, the next image gets displayed on all the slideshows, not on just the one I swiped. If I use the arrows to move between images, everything works fine. But the swipe motion co

[2019-12-15 20:39] dockleryxk commented on #90
this is fixed in beta.9!

[2019-12-15 20:39] #90 closed

[2019-12-15 22:53] metalllus commented on #90
Great, pls make it available on npm, i still see only beta.8 there. Thank
you very much.

On Sun, 15 Dec 2019, 21:39 Richard Jeffords, <notifications@github.com>
wrote:

[2019-12-16 13:08] dockleryxk commented on #90
It should be available. I published it

[2019-12-16 13:11] metalllus commented on #90
S pozdravom / Best Regards,
Ľuboš Valkovič
Freelance Translator and Linguist
Ing. Ľuboš Valkovič
Kalinčiakova 1730/2
953 01 Zlaté Moravce
IČO: 43960707  
DIČ: 1078781374
Tel. :       +421 905 870 436
E-mail:   lubos.valkovic@gmail.com [mailto:lubos.valkovic@gmail.com]
On 16. 12. 2019 14:08:09, Richard Jeffords <notifications@github.com> wrote:
It should be available. I published it
—
You are recei

[2019-12-31 06:33] PeterTianjieWen opened #98 "Allow resizing pictures so that it fits the container"
The project I am currently working on has a couple of pictures with different resolutions. I am wondering if there could be a potential feature of auto-resizing the pictures so that they fit inside the container? Or I think there could be a max-width attribute that allow user to define?

Thanks,
Peter

[2019-12-31 13:30] dockleryxk commented on #98
The [backgroundSize](https://lmgtfy.com/?q=background-size+css) input is what you need to use.

[2019-12-31 13:30] #98 closed

[2019-12-31 18:24] PeterTianjieWen commented on #98
Thank you so much.

[2020-01-08 06:54] B4U2UMER opened #99 "safari error not able to load project by using this slideshow is there any configuration"
safari error not able to load project by using this slideshow is there any configuration

no error

[2020-01-16 21:49] dockleryxk commented on #99
Can you provide more detail? I am not having any issues with Safari

[2020-01-16 21:49] dockleryxk commented on #38
I think this might just be fixed now, need to verify

[2020-01-23 17:44] bkimminich commented on #70
Hi @dockleryxk! Will this fix your working on be part of the next release?

[2020-01-25 12:53] Liioooo opened #101 "Angular 9 Support"
Angular 9 will be released in the near future and I would like to continue using your package.
Would be nice if it was compatible with ng9.

[2020-02-13 19:08] JustACodeMonkey commented on #101
Agreed. Just updated an app to Angular 9 and get ...
ERROR TypeError: Cannot read property 'nativeElement' of undefined
    at SlideshowComponent.push../node_modules/ng-simple-slideshow/__ivy_ngcc__/ng-simple-slideshow.es5.js.SlideshowComponent.setStyles

[2020-02-13 20:27] Liioooo commented on #101
That's just what I did in my PR #102.

[2020-02-18 00:24] metalllus commented on #90
Hi, could you kindly make a quick update to add support for Angular 9? It is a very simple update a few lines of code. Thank you in advance.

S pozdravom / Best Regards,
Ľuboš Valkovič
Freelance Translator and Linguist
Ing. Ľuboš Valkovič
Kalinčiakova 1730/2
953 01 Zlaté Moravce
IČO: 43960707  
DIČ: 1078781374
Tel. :       +421 905 870 436
E-mail:   lubos.valkovic@gmail.com [mailto:lubos.valkovic@

[2020-02-22 01:43] fbchenyong opened #103 "How to add multiline and styled text to a picture？"
sorry,my English is very poor. I want to add multiple lines of text with style to the picture. How can I do it?

[2020-03-01 11:13] Hermholtz commented on #101
Please merge PR #102.

[2020-03-03 17:04] dockleryxk commented on #101
Done, and available in beta.10

[2020-03-03 17:04] #101 closed

[2020-03-03 17:05] dockleryxk commented on #103
use the `showCaptions` and `captionBackground` inputs shown [here](https://github.com/dockleryxk/ng-simple-slideshow#inputs)

[2020-03-03 17:05] #103 closed

[2020-03-03 17:06] dockleryxk commented on #99
closed due to inactivity

[2020-03-03 17:06] #99 closed

[2020-03-04 20:39] bttb commented on #38
it's definitely not fixed. Will try to investigate tomorrow. another problem I see is that on lazy load it first loads the first image, and then after you slide to another image it loads all other images in one go.

[2020-03-05 08:16] bttb commented on #38
Okay, I have a solution. How can I push it?

[2020-03-05 13:00] dockleryxk commented on #38
@bttb that's awesome! Just make a PR.

FYI: the original intention of `lazyLoad` was to ensure the rest of the page loaded after everything else, but not necessarily on a slide-by-slide basis. However, that functionality is more closely aligned with what people expect out of lazy loading, so I'm all for it!

[2020-03-09 10:01] Guley opened #105 "ERROR TypeError: "this.container is undefined""
I am getting issue with `angular 9`
[code]

[2020-03-09 10:24] Guley commented on #105
Above `error` on Mozilla firefox and getting below `error` On Chrome
`ERROR TypeError: Cannot read property 'nativeElement' of undefined
    at SlideshowComponent.setStyles (ng-simple-slideshow.js:517)
    at SlideshowComponent.ngDoCheck (ng-simple-slideshow.js:189)
    at callHook (core.js:3939)
    at callHooks (core.js:3899)
    at executeInitAndCheckHooks (core.js:3840)
    at refreshView (cor

[2020-03-11 22:23] dockleryxk commented on #105
@Guley in the interest of transparency, I have not tried anything in Angular 9 yet... I can't say for certain what is causing this. I will look as soon as I have time. In the meantime, could you send some sample code or a way to reproduce this error? That would help a lot! Thanks

[2020-03-11 23:14] sebrojas14 opened #106 "¿Angular 9 support?"

[2020-03-12 04:11] Guley commented on #105
Setup a new angular setup using the `latest cli` and `latest` version of angular.

[code]

[2020-03-12 22:22] #106 closed

[2020-03-13 10:06] Guley commented on #105
Here what I got while debugging issue. may this will help you out
`Package "ng-simple-slideshow" has an incompatible peer dependency to "@angular/core" (requires "^4.0.0 || ^5.0.0 || ^6.0.0 || ^7.0.0" (extended), would install "9.1.0-next.4")`

[2020-03-13 13:56] dockleryxk commented on #105
That helps quite a bit actually!

[2020-03-13 13:59] dockleryxk commented on #105
check beta.11, I have updated the peer dependencies

[2020-03-16 05:21] Guley commented on #105
Do upgrade angular version from `6.0.1` to `9.1.0-next.4`. Code working fine up to version `8` but issue arise in version `9`

[2020-03-16 09:58] ekhmoi commented on #105
In Angular9 `ViewChild` requires to specify `{static: boolean}`.

I think it can be fixed(maybe not completely) by adding `{static: true}` to below lines.
https://github.com/dockleryxk/ng-simple-slideshow/blob/f563ac58b8c20e27caeaa0be9b2258560604b99a/src/app/modules/slideshow/slideshow.component.ts#L66
[code]

[2020-03-30 10:39] ruipsnogueira commented on #105
Is possible to create a `beta` version with this change?

Thanks!

[2020-04-04 17:50] handihow commented on #105
Would be nice indeed if you can make an update that is compatible with Angular 9

[2020-04-05 12:39] ekhmoi commented on #105
I can upgrade library to Angular 9 and make a PR. But @dockleryxk can approve and create a beta version.

[2020-04-10 08:48] ricardosobrado opened #108 "Doesn't work with Angular 9"
Hello everyone!
After updating Angular version from 8 to 9 this component started to give me an error in runtime (it compiles correctly).
The error occurs in "ng-simple-slideshow.js" :

setStyles() {
...
  this._renderer.removeStyle(this.container.nativeElement, 'background-color');
}

The error is that "this.container" is null

Some help regarding this issue would be more than welcome!
Thank you!

[2020-04-13 03:35] tsenguunchik commented on #108
Can confirm. It is not working from a fresh angular 9 project

[2020-04-19 22:36] soufianesakhi commented on #108
I had the same issue (Cannot read property 'nativeElement' of undefined, this.container being null).

You can update to the beta version to fix it: `npm install ng-simple-slideshow@1.3.0-beta.11`

[2020-04-21 05:32] tsenguunchik commented on #108
When I used the beta version, the error is no longer there, but I don't see anything on the page. When I inspect it, the slideshow element is there but nothing to see visually

[2020-04-23 10:00] ricardosobrado commented on #108
Same happens to me!

[2020-04-23 11:56] soufianesakhi commented on #108
I am currently using the beta in production, and it's working for me at least (example: https://simply-how.com/getting-started-with-java-11, right panel of the `IntelliJ IDEA usage` section)

[2020-04-23 19:14] ibushah commented on #108
Same issue is happening with me i tried to fix it but it didn't go well .

[2020-04-23 19:17] ibushah commented on #108
npm install ng-simple-slideshow@1.3.0-beta.11 just type this on your terminal .beta version is working for me

[2020-04-23 19:18] ibushah commented on #108
<div style="display:block;"
  [style.width]="width">
  <slideshow #slideshow

    [imageUrls]="imageSources"
    [height]="height"
    [minHeight]="minHeight"
    [arrowSize]="arrowSize"
    [showArrows]="showArrows"
    [disableSwiping]="disableSwiping"
    [autoPlay]="autoPlay"
    [stopAutoPlayOnSlide]="stopAutoPlayOnSlide"
    [debug]="debug"
    [backgroundSize]="backgroundSize"
    [backgrou

[2020-04-23 19:58] tsenguunchik commented on #108
Would love to see your code along with package.json

I did try to add the beta version and there was no luck.

[2020-04-23 21:37] soufianesakhi commented on #108
I have also removed all the `entryComponents` in my modules after migrating to Angular 9, it might be it for you (they are now deprecated with the new Ivy compiler)

[2020-04-23 21:39] tsenguunchik commented on #108
I tried this with a brand new project. Don't have any entryComponents on mine.

[2020-04-23 22:08] soufianesakhi commented on #108
package.json:

[code]
app.module.ts & 1 another lazy loaded module where it's being used:

[code]

page.component.ts:

[code]

slideshow.component.html:

[code]

[2020-04-27 22:03] rodrigowbazevedo commented on #108
Can't install the beta version on Angular 9.1
[code]

[2020-05-13 11:38] ashutoshkokam commented on #108
updating the package to ng-simple-slideshow@1.3.0-beta.11, worked for me

[2020-06-30 23:14] Ricardozs commented on #108
I have the latest Angular version and still doesn't work for me. I install the beta version and I don't see any error, but I just don't see the slider. And if I inspect my page I see it in the code with all its elements.

[2020-06-30 23:30] Ricardozs commented on #108
Fix it, in my case, was that I didn't have `display = block`, I had `display = flex`.

When I changed it, it worked!

[2020-07-19 17:36] ISCFERNANDO opened #110 "ERROR TypeError: Cannot read property 'nativeElement' of undefined"
En angular 10 manda error nativeElement undefined al probar el componente

[2020-07-21 14:46] matthiasunt commented on #110
I had the same issue on Angular 9.2.1. Running `npm install ng-simple-slideshow@1.3.0-beta.11` fixed it.

[2020-08-13 08:30] MilosPopovic11 opened #112 "ERROR TypeError: Cannot set property 'selected' of undefined"
I update angular to 10, and first problem I had was:
ERROR TypeError: Cannot read property 'nativeElement' of undefined
but I resolved that issue with updating slideshow on 1.3.0-beta.11 version.

Now I get: ERROR TypeError: Cannot set property 'selected' of undefined

And can not say when because it random behavior. Can not reproduce, it just happen sometimes.
Any idea what to do? Thanks

[2020-08-20 08:24] hnviradiya commented on #112
I was able to reproduce this when I remove image from array.

like `this.imageSources.splice(2, 1);`

So when we are on currentindex 2 and we remove it from array, it is giving this error.

so as a workaround I first moved currentindex to index which exist in array (in my case I moved to previous slide).

`this.slideshow.goToSlide(slideIndexToRemove - 1);`

and then i was able to safely remove it

[2020-08-20 08:28] hnviradiya commented on #110
even in 1.3.0-beta.11 version, when image array in empty, this issue is being reproduced. so I prevented that using ngIf directive as below so that it does not initialize.

[code]

[2020-08-21 16:59] Donistivanov opened #113 ".goToSlide(i) when i === 0 does not work"
Workaround:
[code]

[2020-08-31 06:51] MilosPopovic11 commented on #112
@hnviradiya thanks for reply, I was on vacation. Will try this solution.

[2020-09-01 19:52] bkimminich commented on #70
This error has slightly changed to complain about `nativeElement` instead of `loaded` for me:

[code]

I am currently using `^1.3.0-beta.11`. Any chance to resolve this and potential follow-ups in a future release?

[2020-10-12 15:23] hnviradiya opened #119 "iPhone Images gets rotated"
When you capture photo from iPhone device.

Image gets rotated.

https://codesandbox.io/s/cocky-moser-dz1mk

![BA4CC00F-50FA-424F-9B03-48363FEEC7E8](https://user-images.githubusercontent.com/12680915/95763589-da48d500-0ccc-11eb-9154-8ccd547183fb.png)

[2020-11-11 12:37] michel-jump opened #121 "Angular 10 not supported"
I just upgraded my Angular project to version 10, and when building, I got the following error:
[code]
It seems that Angular 10 is not supported.

[2020-12-03 16:18] awikatchikaen commented on #108
Fixed it. For my removing the «position=relative» on slideshow-container resolved the problem

[2020-12-04 22:38] rcampion commented on #121
I am using Angular 10 with 1.3.0-beta.11.
It is working.
I had to make changes to the CSS, that's about it.
If you need more info, let me know.

[2020-12-16 20:07] atoyansk opened #123 "How to use it with *ngFor?"
I have a list of images in my project which is been displaying with *ngFor, like this:

[code]
I've tried to include **ng-simple-slideshow** as shown below, but it displays an error:
[code]
The error:
[code]

How can I implement **ng-simple-slideshow** in this case?

[2021-01-11 16:43] bkimminich commented on #70
Hi @dockleryxk! Any chance the package format update will make it into one of the next beta releases?

[2021-03-21 12:22] YoniTlz opened #125 "Broken style on mobile"
Hi,

I worked on the website https://belmaquillagepermanent.fr/ a couple years ago using the slideshow.
Everything was fine. But for some reason i recently noticed that ONLY on mobile the css was broken.
I added a logo and some text over the images of the slideshow and used CSS to position them. It has always worked great on both desktop and mobile.

It just suddenly stopped working on mobile it w

[2021-04-23 20:38] dockleryxk commented on #123
@atoyansk you just put the array of images as the `imageUrls`, using ngFor with a slideshow for each image is going to cause trouble for sure.

[2021-04-23 20:38] #123 closed, assigned to nobody

[2021-05-04 09:33] ricardosobrado opened #127 "Angular 11 not supported"
Hi!
When migrating to Angular 11 I found that there is dependency issue with @angular/core!
Does anyone knows if there will be a release to fix this problem?

Thank you in advance!

Dependency Error shown:
Package "ng-simple-slideshow" has an incompatible peer dependency to "@angular/core" (requires "^4.0.0 || ^5.0.0 || ^6.0.0 || ^7.0.0" (extended), would install "11.2.12").

[2021-05-24 08:20] MilosPopovic11 opened #132 "iOS 14 animation problem with slide"
On iOS version 14 there is a problem with animation, when image go left in slider, it return from left to right immediately, so it looks like it go left from 0% to -100% and then again back from -100% to 0%, ad sometimes it happen only with first picture, and sometimes with more, and then it just continue to do normal slide. On console there is nothing, no errors.

Angular 10,  "ng-simple-slidesho

[2021-05-28 20:56] Judp0m opened #134 "Support Angular 12"
This package is behind (Angular 9), Angular 12 is now released.

When upgrading from v11 to v12:
Package "ng-simple-slideshow" has an incompatible peer dependency to "@angular/core" (requires "^4.0.0 || ^5.0.0 || ^6.0.0 || ^7.0.0 || ^8.0.0 || ^9.0.0" (extended), would install "12.0.2").

[2021-06-16 20:37] KaseRadtke commented on #110
Ran into this issue with an Angular 12 Project upgrade, this fixed it, thanks :)!

[2022-01-11 13:22] pilz97 commented on #134
I also need angular 12 support :(